@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
h1{ 
    background-color: antiquewhite;
    font-size: 60px;
    color: tomato;
    font-family: 'Unbounded', cursive;
}
p{
    background-color: rgb(17, 190, 190);
    font-size: 20px;
    color:rgb(0, 0, 0);
    font-family: 'Unbounded', cursive;
}